body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-502px;
  width:170px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:192px;
}
#u3101 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:228px;
  width:170px;
  height:192px;
  display:flex;
}
#u3101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
