body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华康圆体W7(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:122px;
  width:364px;
  height:36px;
  display:flex;
  font-family:"华康圆体W7(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
}
#u3110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:-webkit-linear-gradient(0deg, rgba(62, 206, 251, 1) 1%, rgba(0, 164, 234, 1) 103%);
  background:-moz-linear-gradient(90.00000000000001deg, rgba(62, 206, 251, 1) 1%, rgba(0, 164, 234, 1) 103%);
  background:linear-gradient(90.00000000000001deg, rgba(62, 206, 251, 1) 1%, rgba(0, 164, 234, 1) 103%);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华康圆体W7(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:124px;
  width:66px;
  height:32px;
  display:flex;
  font-family:"华康圆体W7(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
}
#u3111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华康圆体W5(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.6px;
  color:#FBF8F8;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:130px;
  width:36px;
  height:20px;
  display:flex;
  font-family:"华康圆体W5(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.6px;
  color:#FBF8F8;
}
#u3112 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:128px;
  width:24px;
  height:24px;
  display:flex;
  font-family:"华康圆体W7(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
}
#u3113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:131px;
  width:1px;
  height:18px;
  display:flex;
  opacity:0.45;
  font-family:"华康圆体W5(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#151515;
  text-align:left;
}
#u3114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华康圆体W5(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#585858;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:130px;
  width:216px;
  height:20px;
  display:flex;
  font-family:"华康圆体W5(P)", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#585858;
}
#u3115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
