body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-126px;
  width:314px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:327px;
  width:110px;
  height:63px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:50px;
  width:100px;
  height:60px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35 label {
  left:0px;
  width:100%;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:375px;
  width:100px;
  height:15px;
  display:flex;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.disabled {
}
#u35.disabled {
}
#u35_img.selected.error {
}
#u35.selected.error {
}
#u35_img.selected.hint {
}
#u35.selected.hint {
}
#u35_img.selected.error.hint {
}
#u35.selected.error.hint {
}
#u35_img.mouseOver.selected {
}
#u35.mouseOver.selected {
}
#u35_img.mouseOver.selected.error {
}
#u35.mouseOver.selected.error {
}
#u35_img.mouseOver.selected.hint {
}
#u35.mouseOver.selected.hint {
}
#u35_img.mouseOver.selected.error.hint {
}
#u35.mouseOver.selected.error.hint {
}
#u35_img.mouseDown.selected {
}
#u35.mouseDown.selected {
}
#u35_img.mouseDown.selected.error {
}
#u35.mouseDown.selected.error {
}
#u35_img.mouseDown.selected.hint {
}
#u35.mouseDown.selected.hint {
}
#u35_img.mouseDown.selected.error.hint {
}
#u35.mouseDown.selected.error.hint {
}
#u35_img.mouseOver.mouseDown.selected {
}
#u35.mouseOver.mouseDown.selected {
}
#u35_img.mouseOver.mouseDown.selected.error {
}
#u35.mouseOver.mouseDown.selected.error {
}
#u35_img.mouseOver.mouseDown.selected.hint {
}
#u35.mouseOver.mouseDown.selected.hint {
}
#u35_img.mouseOver.mouseDown.selected.error.hint {
}
#u35.mouseOver.mouseDown.selected.error.hint {
}
#u35_img.focused.selected {
}
#u35.focused.selected {
}
#u35_img.focused.selected.error {
}
#u35.focused.selected.error {
}
#u35_img.focused.selected.hint {
}
#u35.focused.selected.hint {
}
#u35_img.focused.selected.error.hint {
}
#u35.focused.selected.error.hint {
}
#u35_img.selected.disabled {
}
#u35.selected.disabled {
}
#u35_img.selected.hint.disabled {
}
#u35.selected.hint.disabled {
}
#u35_img.selected.error.disabled {
}
#u35.selected.error.disabled {
}
#u35_img.selected.error.hint.disabled {
}
#u35.selected.error.hint.disabled {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u36 label {
  left:0px;
  width:100%;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:420px;
  width:100px;
  height:15px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u36_img.selected {
}
#u36.selected {
}
#u36_img.disabled {
}
#u36.disabled {
}
#u36_img.selected.error {
}
#u36.selected.error {
}
#u36_img.selected.hint {
}
#u36.selected.hint {
}
#u36_img.selected.error.hint {
}
#u36.selected.error.hint {
}
#u36_img.mouseOver.selected {
}
#u36.mouseOver.selected {
}
#u36_img.mouseOver.selected.error {
}
#u36.mouseOver.selected.error {
}
#u36_img.mouseOver.selected.hint {
}
#u36.mouseOver.selected.hint {
}
#u36_img.mouseOver.selected.error.hint {
}
#u36.mouseOver.selected.error.hint {
}
#u36_img.mouseDown.selected {
}
#u36.mouseDown.selected {
}
#u36_img.mouseDown.selected.error {
}
#u36.mouseDown.selected.error {
}
#u36_img.mouseDown.selected.hint {
}
#u36.mouseDown.selected.hint {
}
#u36_img.mouseDown.selected.error.hint {
}
#u36.mouseDown.selected.error.hint {
}
#u36_img.mouseOver.mouseDown.selected {
}
#u36.mouseOver.mouseDown.selected {
}
#u36_img.mouseOver.mouseDown.selected.error {
}
#u36.mouseOver.mouseDown.selected.error {
}
#u36_img.mouseOver.mouseDown.selected.hint {
}
#u36.mouseOver.mouseDown.selected.hint {
}
#u36_img.mouseOver.mouseDown.selected.error.hint {
}
#u36.mouseOver.mouseDown.selected.error.hint {
}
#u36_img.focused.selected {
}
#u36.focused.selected {
}
#u36_img.focused.selected.error {
}
#u36.focused.selected.error {
}
#u36_img.focused.selected.hint {
}
#u36.focused.selected.hint {
}
#u36_img.focused.selected.error.hint {
}
#u36.focused.selected.error.hint {
}
#u36_img.selected.disabled {
}
#u36.selected.disabled {
}
#u36_img.selected.hint.disabled {
}
#u36.selected.hint.disabled {
}
#u36_img.selected.error.disabled {
}
#u36.selected.error.disabled {
}
#u36_img.selected.error.hint.disabled {
}
#u36.selected.error.hint.disabled {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u37 label {
  left:0px;
  width:100%;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:473px;
  width:100px;
  height:15px;
  display:flex;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u37_img.selected.error {
}
#u37.selected.error {
}
#u37_img.selected.hint {
}
#u37.selected.hint {
}
#u37_img.selected.error.hint {
}
#u37.selected.error.hint {
}
#u37_img.mouseOver.selected {
}
#u37.mouseOver.selected {
}
#u37_img.mouseOver.selected.error {
}
#u37.mouseOver.selected.error {
}
#u37_img.mouseOver.selected.hint {
}
#u37.mouseOver.selected.hint {
}
#u37_img.mouseOver.selected.error.hint {
}
#u37.mouseOver.selected.error.hint {
}
#u37_img.mouseDown.selected {
}
#u37.mouseDown.selected {
}
#u37_img.mouseDown.selected.error {
}
#u37.mouseDown.selected.error {
}
#u37_img.mouseDown.selected.hint {
}
#u37.mouseDown.selected.hint {
}
#u37_img.mouseDown.selected.error.hint {
}
#u37.mouseDown.selected.error.hint {
}
#u37_img.mouseOver.mouseDown.selected {
}
#u37.mouseOver.mouseDown.selected {
}
#u37_img.mouseOver.mouseDown.selected.error {
}
#u37.mouseOver.mouseDown.selected.error {
}
#u37_img.mouseOver.mouseDown.selected.hint {
}
#u37.mouseOver.mouseDown.selected.hint {
}
#u37_img.mouseOver.mouseDown.selected.error.hint {
}
#u37.mouseOver.mouseDown.selected.error.hint {
}
#u37_img.focused.selected {
}
#u37.focused.selected {
}
#u37_img.focused.selected.error {
}
#u37.focused.selected.error {
}
#u37_img.focused.selected.hint {
}
#u37.focused.selected.hint {
}
#u37_img.focused.selected.error.hint {
}
#u37.focused.selected.error.hint {
}
#u37_img.selected.disabled {
}
#u37.selected.disabled {
}
#u37_img.selected.hint.disabled {
}
#u37.selected.hint.disabled {
}
#u37_img.selected.error.disabled {
}
#u37.selected.error.disabled {
}
#u37_img.selected.error.hint.disabled {
}
#u37.selected.error.hint.disabled {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:340px;
  width:40px;
  height:40px;
  display:flex;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:345px;
  width:30px;
  height:30px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_img.selected {
}
#u39.selected {
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:70px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:660px;
  width:65px;
  height:70px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
